/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/ScheduleReminder.iml
/.idea/vcs.xml
/.vscode/*
/env/*
*/__pycache__/*
/data/schedule.xlsx
/bot.log
*__pycache__*